# City Payroll Project

# Intro:
- Data Cleaning
- Exploratory Data Analysis

# The Data:
- ***fiscal_year:*** data from 2014 to 2024
- ***payroll_number:*** 
- ***agency_name:*** public agency name
- ***last_name:*** employee last name
- ***first_name:*** employee first name
- ***mid_init:*** employee middle initial
- ***agency_start_date:*** 
- ***work_location_borough:***
- ***title_description:***
- ***leave_status_as_of_june_30:*** 5 status; 'ACTIVE', 'CEASED', 'ON LEAVE', 'ON SEPARATION LEAVE', 'SEASONAL'
- ***base_salary:***
- ***pay_basis:*** 4 unique; 'per Annum', 'per Hour', 'Prorated Annual', 'per Day'
- ***regular_hours:*** number of regular hours worked
- ***regular_gross_paid:*** total regular hours paid
- ***ot_hours:*** number of over time hours
- ***total_ot_paid:*** total over time paid
- ***total_other_pay:*** all adiditional pay, could include bonuses, hazard pay, and incentives


***Data Source:***
This is from: https://catalog.data.gov/dataset/citywide-payroll-data-fiscal-year

In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('Citywide_Payroll_Data__Fiscal_Year_.csv')

/var/folders/__/9yl2ywyx41ng5kr9qcfl785h0000gn/T/ipykernel_5621/2448154079.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Citywide_Payroll_Data__Fiscal_Year_.csv')

In [48]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns

Index(['fiscal_year', 'payroll_number', 'agency_name', 'last_name',
       'first_name', 'mid_init', 'agency_start_date', 'work_location_borough',
       'title_description', 'leave_status_as_of_june_30', 'base_salary',
       'pay_basis', 'regular_hours', 'regular_gross_paid', 'ot_hours',
       'total_ot_paid', 'total_other_pay'],
      dtype='object')

In [49]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225611 entries, 0 to 6225610
Data columns (total 17 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   fiscal_year                 6225611 non-null  int64
 1   payroll_number              4480171 non-null  float64
 2   agency_name                 6225611 non-null  object
 3   last_name                   6212003 non-null  object
 4   first_name                  6211938 non-null  object
 5   mid_init                    3665572 non-null  object
 6   agency_start_date           6225471 non-null  object
 7   work_location_borough       5719377 non-null  object
 8   title_description           6225447 non-null  object
 9   leave_status_as_of_june_30  6225611 non-null  object
 10  base_salary                 6225611 non-null  float64
 11  pay_basis                   6225611 non-null  object
 12  regular_hours               6225611 non-null  float64
 13  regular_gross_paid          6225611 non-null  float64
 14  ot_hours                    6225611 non-null  float64
 15  total_ot_paid               6225611 non-null  float64
 16  total_other_pay             6225611 non-null  float64
dtypes: float64(7), int64(1), object(9)
memory usage: 807.5+ MB

In [62]:
df.head(10)

,fiscal_year,payroll_number,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,unknown,2015-08-10,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.00,0.00
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,2016-09-12,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.00,0.00
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,unknown,2016-02-22,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.00,0.00
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,2013-09-16,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.00,0.00
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,2018-04-30,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.00,0.00
5,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WASHINGTON,MORIAH,A,2019-03-18,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,87900.95,0.0,0.00,-3202.74
6,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,unknown,2008-09-29,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.0,per Annum,1820.0,84312.72,0.0,0.00,0.00
7,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,KRAWCZYK,AMANDA,N,2017-05-15,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,83976.54,0.0,0.00,0.00
8,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,MURRELL,JALEESA,S,2014-12-01,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,83877.36,0.0,0.00,0.00
9,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,unknown,2017-06-05,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.0,per Annum,1820.0,66647.77,348.5,16572.64,144.15

In [51]:
df.describe()

,fiscal_year,payroll_number,base_salary,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
count,6.225611e+06,4.480171e+06,6.225611e+06,6.225611e+06,6.225611e+06,6.225611e+06,6.225611e+06,6.225611e+06
mean,2.019070e+03,5.737729e+02,4.590812e+04,6.575639e+02,4.375198e+04,6.463143e+01,3.636355e+03,3.323455e+03
std,3.129510e+00,3.026561e+02,4.437489e+04,8.855416e+02,4.168351e+04,1.688263e+02,1.049005e+04,6.667479e+03
min,2.014000e+03,2.000000e+00,1.000000e-02,-2.240000e+03,-2.054519e+05,-2.090000e+02,-2.649388e+04,-2.815950e+05
25%,2.016000e+03,3.000000e+02,3.318000e+01,0.000000e+00,3.475025e+03,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.019000e+03,7.420000e+02,4.387800e+04,0.000000e+00,3.623646e+04,0.000000e+00,0.000000e+00,1.035600e+02
75%,2.022000e+03,7.470000e+02,8.197700e+04,1.820000e+03,7.627853e+04,0.000000e+00,1.175250e+02,4.265530e+03
max,2.024000e+03,9.960000e+02,4.147990e+05,6.666000e+03,6.849702e+05,3.692900e+03,5.275320e+05,7.146643e+05

### Payroll Number Exploration

In [ ]:
# TO DO
df['payroll_number'].nunique()

,fiscal_year,payroll_number,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820.0,84698.21,0.00,0.00,0.00
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820.0,84698.21,0.00,0.00,0.00
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820.0,84698.21,0.00,0.00,0.00
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820.0,84698.21,0.00,0.00,0.00
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820.0,84698.21,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225606,2024,996.0,NYC HOUSING AUTHORITY,DALEY,GARFIELD,D,05/24/1994,BRONX,SUPERVISOR ELECTRICIAN,CEASED,488.25,per Day,945.0,66420.40,1221.00,128395.97,94170.20
6225607,2024,996.0,NYC HOUSING AUTHORITY,DUNCAN,ALVIN,A,11/01/1993,MANHATTAN,SUPERVISOR ELEVATOR MECHANIC,CEASED,548.00,per Day,1600.0,109600.00,599.25,66445.01,94682.65
6225608,2024,996.0,NYC HOUSING AUTHORITY,ROMERO,VINCENT,NaN,04/12/1982,MANHATTAN,SUPERVISOR ELEVATOR MECHANIC,CEASED,548.00,per Day,1120.0,71240.00,360.50,41305.53,95651.30
6225609,2024,996.0,NYC HOUSING AUTHORITY,PORCELLI,ANTHONY,NaN,03/05/1984,MANHATTAN,ADMINISTRATIVE HOUSING SUPERINTENDENT,CEASED,163741.00,per Annum,791.0,70782.20,0.00,0.00,146629.52
6225610,2024,996.0,NYC HOUSING AUTHORITY,COLON,SIBYL,NaN,08/05/1985,MANHATTAN,ADMINISTRATIVE HOUSING MANAGER,CEASED,135000.00,per Annum,0.0,0.00,0.00,0.00,243299.00

#### Employee Name Exploration

In [ ]:
# creating variables to get number of null values for employee names
null_first_last = df[(df['last_name'].isnull()) & (df['first_name'].isnull())].shape[0]
null_last = df[df['last_name'].isnull()].shape[0]
null_first = df[df['first_name'].isnull()].shape[0]
null_middle = df[df['mid_init'].isnull()].shape[0]
num_entries = 6225611

In [54]:
print(f'Number of missing first names is {null_first}')
print(f'Number of missing last names is {null_last}')
print(f'Number of missing first and last names {null_first_last}')
print(f'Number of missing middle nitials {null_middle}')

Number of missing first names is 13673
Number of missing last names is 13608
Number of missing first and last names 13580
Number of missing middle nitials 2560039

In [55]:
# filling null names and initials with 'unknown'
df[['last_name', 'first_name', 'mid_init']] = df[['last_name', 'first_name', 'mid_init']].fillna('unknown')

#### agency_start_date

In [ ]:
# changing agency_start_date to datetime
df['agency_start_date'] = pd.to_datetime(df['agency_start_date'], errors='coerce')

In [ ]:
# Looking at unique departments that have a null agency start date for the employee
df[df['agency_start_date'].isnull()]['agency_name'].unique()

array(['DEPT OF ED PEDAGOGICAL', 'DEPT OF ED HRLY SUPPORT STAFF',
       'DEPT OF ED PARA PROFESSIONALS', 'BRONX DISTRICT ATTORNEY'],
      dtype=object)

<div class="alert alert-info"> 
Need to look at min and max below
</div>

In [57]:
df['agency_start_date'].min(), df['agency_start_date'].max()

(Timestamp('1901-01-01 00:00:00'), Timestamp('2049-10-16 00:00:00'))

In [68]:
# looking at what this column displays
df['leave_status_as_of_june_30'].unique()

array(['ACTIVE', 'CEASED', 'ON LEAVE', 'ON SEPARATION LEAVE', 'SEASONAL'],
      dtype=object)

In [67]:
#determining unique pay types
df['pay_basis'].unique()

array(['per Annum', 'per Hour', 'Prorated Annual', 'per Day'],
      dtype=object)

- ***Per Annum:*** Annual salary, paid yearly.
- ***Per Hour:*** Paid based on hours worked.
- ***Prorated Annual:*** Adjusted salary for partial year.
- ***Per Day:*** Paid based on days worked, often for contractors.

In [72]:
# determining if there is a common agency that has null borough location
display(df[df['work_location_borough'].isnull()]['agency_name'].nunique())

# determining if there is a common 'title_description' with null borough location
display(df[df['work_location_borough'].isnull()]['title_description'].nunique())

149

1422

<div class="alert alert-info"> 

1. need to do duplicate checking
    - ex. df[df.duplicated(subset=['first_name', 'last_name', 'payroll_number'], keep=False)]

2. need to consider dropping columns and rows
    - name of employee
    - none numerical columns? only when splitting into features and target?
3. Define what I want to display
4. what is payroll number and how to handle nulls
  </div>

### Data Cleaning Take Aways:
- changed column title names to make them more uniform and easier to use in code
- NULL values in 
    - ***payroll_number:***
    - ***last_name:*** changing null to 'unknown and only using to check duplicate rows
    - ***first_name:*** changing null to 'unknown and only using to check duplicate rows
    - ***mid_init:*** changing null to 'unknown and only using to check duplicate rows
    - ***agency_start_date:*** there are 4 departments that have null values ['DEPT OF ED PEDAGOGICAL', 'DEPT OF ED HRLY SUPPORT STAFF',
       'DEPT OF ED PARA PROFESSIONALS', 'BRONX DISTRICT ATTORNEY']
    - ***work_location_borough:***
    - ***title_description:***
- Most of the entries with missing last and first names are missing both
- changing agency_start_date to datetime

## EDA

- outliers for amount of over time worked
- outliers for total compensation
- outliers for number of hours worked vs pay
- fun looking and advanced graphs
- create a render website for graphs
- ...